<a href="https://colab.research.google.com/github/garcanam/executionlistissues/blob/main/theory_notebooks/1_IntroductionToProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Programming and Python
## Overview:
# This notebook provides an introduction to programming concepts and the Python language.

### What is Programming?
Programming is the process of instructing a computer to perform tasks by providing it with a set of instructions written in a programming language.

### Different Types of Programming Languages

There are various types of programming languages, including:
- High-level languages: Python, Java, C++
- Low-level languages: Assembly, Machine Code

### Python Basics
    - Arithmetic Operators and Variables
    - Comparison Operators
    - Data Types (Integers, Floats, Strings, Booleans)
    - Functions

### Arithmetic Operators and Variables:
#### - Arithmetic operators (+, -, *, /, //, **) are used to perform mathematical operations.
#### - Variables are used to store data values. Python is dynamically typed, so you don't need to declare the variable type explicitly.

In [1]:
a = 2 + 3 * (2 + 3) * 2 # Example arithmetic expression

#### Variables and printing:
#### - The 'print()' function is used to display output in Python.

In [2]:
a = 3
print(a * 3)  # Output: 9

9

####  Incrementing variables:
####  - Python supports shorthand assignment operators (e.g., +=, *=).

In [3]:
a = 3
a += 5  # Equivalent to: a = a + 5
a *= 2  # Equivalent to: a = a * 2
print(a)  # Output: 16

16

### Comparison Operators:

- Comparison operators are used to compare values. They return either True or False based on the comparison result.
- Here's a list of comparison operators in Python:

    - `==` : Equal to
    - `!=` : Not equal to
    - `<`  : Less than
    - `>`  : Greater than
    - `<=` : Less than or equal to
    - `>=` : Greater than or equal to

In [4]:
a = 2
print(a < 3)  # Output: True (2 is less than 3)
print(a == 4)  # Output: False (2 is not equal to 4)

# Chaining comparison operators:
# - You can chain multiple comparison operators together in a single expression.
print(2 < 3 < 4)  # Output: True (2 is less than 3, and 3 is less than 4)

True
False
True

### Data Types:

Python supports several built-in data types, including:
 - Integers (int): Whole numbers without any decimal point.
 - Floating-point numbers (float): Real numbers with a decimal point.
 - Strings (str): Sequence of characters enclosed within single ('') or double ("") quotes.
 - Booleans (bool): Represents either True or False.

In [ ]:
# Integer
age = 25
print("Age:", age, "Type:", type(age))  # Output: Age: 25 Type: <class 'int'>

# Float
height = 1.75
print("Height:", height, "Type:", type(height))  # Output: Height: 1.75 Type: <class 'float'>

In [ ]:
# String
name = 'John'
print("Name:", name, "Type:", type(name))  # Output: Name: John Type: <class 'str'>
# String comparisons and manipulations:
# - Python provides string comparison and manipulation methods.
print("Pepe" > "Pepa")  # Output: True (ASCII comparison)
print("pepe" == str.lower("Pepe"))  # Output: True (Case-insensitive comparison)

In [ ]:
# Boolean
is_student = True
print("Is Student:", is_student, "Type:", type(is_student))  # Output: Is Student: True Type: <class 'bool'>

# Boolean experiments:
# - Python supports boolean data type (True and False) and boolean operations.
print(3 == True)  # Output: False
print(3 > True)   # Output: True
print(0 < True)   # Output: True

#### Exercise 1: Data Type Conversion and String Concatenation

In testing, it's crucial to handle various data types and perform operations accordingly. Let's consider a scenario where we need to concatenate different types of data and ensure the correct representation in our test cases.

1. Initialize two variables:
    - `integer_var` with a value of 10 (an integer)
    - `float_var` with a value of 5.5 (a float)

2. Perform the following operations:
    a. Convert `integer_var` to a float and store it in a new variable `integer_as_float`.
    b. Convert `float_var` to an integer and store it in a new variable `float_as_integer`.
    c. Concatenate `integer_var` and `float_var` into a single string variable `concatenated_string`. Use appropriate string formatting to ensure clear separation between the integer and float values.

3. Print the results of the operations and observe the differences between the original and converted values.

4. Reflect on the importance of handling data types correctly in testing scenarios, especially when dealing with different input formats and expected outputs.

5. Bonus: Create a small test that compares `integer_var` and `float_var` and checks if they are equal. What happens if you change the value of `float_var` to 10.0 ? Is the assert giving true or false?

Remember to document your observations and reflections in the notebook to consolidate your learning from this exercise.

In [5]:
#Here your solution
# Initialize variables
integer_var = 10
float_var = 5.5

# Step 2: Perform operations

# Convert integer_var to float
integer_as_float = float(integer_var)

# Convert float_var to integer
float_as_integer = int(float_var)

# Concatenate integer_var and float_var into a single string variable
concatenated_string = str(integer_var) + str(float_var)

# Step 3: Print results
print("integer_var: ",integer_var)
print("float_var: ",float_var)
print("integer_as_float: ",integer_as_float)
print("float_as_integer: ",float_as_integer)
print("concatenated_string: ",concatenated_string)

# Step 4: Reflection
print("\nReflection:")
print("Handling data types correctly is crucial in testing to ensure accurate representation of inputs and outputs.")
print("In this exercise, we converted an integer to a float and a float to an integer to demonstrate type conversion.")
print("We also concatenated different data types into a single string for better readability.")
print("Understanding data types helps testers design robust test cases and verify the behavior of functions under various scenarios.")

# Step 5: Bonus - Compare integer_variable and float_variable

# Assigning values to integer_variable and float_variable

# Test case: Assert equality between integer_variable and float_variable


# Print message if assertion passes
print("Assertion passed: integer_variable is equal to float_variable.")

integer_var:  10
float_var:  5.5
integer_as_float:  10.0
float_as_integer:  5
concatenated_string:  105.5

Reflection:
Handling data types correctly is crucial in testing to ensure accurate representation of inputs and outputs.
In this exercise, we converted an integer to a float and a float to an integer to demonstrate type conversion.
We also concatenated different data types into a single string for better readability.
Understanding data types helps testers design robust test cases and verify the behavior of functions under various scenarios.
Assertion passed: integer_variable is equal to float_variable.

### Functions:
 Python provides many built-in functions for performing common tasks. Here are some examples:

In [ ]:
# 1. print(): Outputs the given arguments.
print("Hello, World!")  # Output: Hello, World!

# 2. len(): Returns the length of an object.
string_length = len("Python")  # string_length = 6

# 3. range(): Generates a sequence of numbers.
numbers = list(range(5))  # numbers = [0, 1, 2, 3, 4]

# 4. type(): Returns the type of an object.
data_type = type(10)  # data_type = <class 'int'>

# 5. max(): Returns the largest element in an iterable or the largest of two or more arguments.
max_number = max(4, 7, 2)  # max_number = 7

# 6. min(): Returns the smallest element in an iterable or the smallest of two or more arguments.
min_number = min(4, 7, 2)  # min_number = 2

# 7. sum(): Returns the sum of all elements in an iterable.
total = sum([1, 2, 3, 4])  # total = 10

# 8. abs(): Returns the absolute value of a number.
absolute_value = abs(-5)  # absolute_value = 5

# 9. round(): Rounds a number to a specified precision (default is 0).
rounded_number = round(3.14159, 2)  # rounded_number = 3.14

# 10. input(): Reads a line from input and returns it as a string (Python 3.x).
name = input("Enter your name: ")  # Prompts the user to enter their name

### Basic Calculator
* First, print just the result, then introduce how to print several variables '%d'
* Then, change the output of the division to float, and then do // (integer division) to see how it changes